# Maven
target/

# Eclipse
.settings/
.classpath
.project

# TestNG Reports
test-output/

# Extent Reports
reports/

# Screenshots
screenshots/

# Logs
logs/
*.log
*.log.gz

# Compiled Java Files
*.class

# Temporary Files
*.tmp
Thumbs.db
.DS_Store